{
  "env": {
    "node": true
  },
  "rules": {
    "no-use-before-define": [2, "nofunc"],
    "quotes": [2, "single", "avoid-escape"],
    "no-underscore-dangle": 0,
    "no-unused-expressions": 0,
    "no-unused-vars": [2, {"args": "none"}],
    "no-loop-func": 0
  }
}
